<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ghibli">
    <title>So bad it's good</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="/images/favicon.ico" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Limelight">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column min-100-vh">
    <header class="hero">
        <div class="app-title">
            <h1 class="MainH1">Reeves-o-rama!</h1>
        </div>
    </header>




    <footer class="footer">
        &copy; 2023 Get Keanu!
    </footer>
</body>

</html>