<div>
    <p id="movie-title">{{movieList.title}}</p>
    <p id="movie-year">{{movieList.year}}</p>
    <p id="movie-description">{{movieList.description}}</p>
</div>

<script src="/public/js/spinner.js"></script>