{{!-- <div>
    <p id="movie-name">{{movie.name}}</p>
    <p id="movie-year">{{movie.year}}</p>
    <p id="movie-description">{{movie.description}}</p>
</div> --}}

<button class="button spinBtn" id="spinBtn">Spin</button>

<section id="spinner-list"></section>


<script src="/js/spinner.js"></script>